<div class="card mt-4">

    <div class="card-body">
        <h6>Secured user :</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>

    <div style="margin: 30px;">
        <h1 style="text-align: center;">AI Support </h1>
        <div class="card" *ngFor="let data of textList">
            <div class="card-header">
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="data.text" class="form-control" placeholder="Add Your Text Here">
                    <div class="input-group-append">
                        <button type="button" (click)="generateText(data)" class="btn btn-primary">Generate</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text" #aiResponseText>{{data.response}}</p>
                <i class="fab fa-mdb"></i>
                <h3 (click)="copyToClipboardWithParameter(aiResponseText)" style="float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z" />
                    </svg>
                </h3>
            </div>
        </div>
    </div>


</div>